<% if user_signed_in? %>
  <li class= "nav-item"><i class=""></i>
  <%= link_to('  Logout', destroy_user_session_path, :method => :delete, class: "nav-link fa fa-sign-out") %>        
  </li>
<% else %>
  <li class= "nav-item"><i class=""></i>
  <%= link_to(' Login', new_user_session_path, class: "nav-link fa fa-sign-in")  %>  
  </li>
<% end %>