/*Add other scss files with @import*/

@import "bootstrap";
@import "users";
@import "static";
@import 'pages';
@import "profile-link";

@-moz-document url-prefix() {
	fieldset {
		display: table-cell;

	}
}

body {
	font-family: 'Inconsolata';
	padding-top: 70px;
	margin-bottom: 70px;
}
	.user_profile_element {
		max-width: 300px;
		max-height: 200px;
	}

	.nav-bg {
		background-image: url('penta_out.png');

	}

.site-name {
	font-family: 'Lobster';
	font-size: 1.5em;
}

// General Links

ul.nav li a, ul.nav li a:visited {
    color: #183642 !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #4A7C59 !important;
}

ul.nav li.active a {
    color: #FAF3DD !important;
}

// Top Links

ul.nav li a.top-bar-nav-link, ul.nav li a.top-bar-nav-link:visited {
    color: #FFFFFF !important;
}

ul.nav li a.top-bar-nav-link:hover, ul.nav li a.top-bar-nav-link:active {
    color: #FFFFFF !important;
}

ul.nav li.active a.top-bar-nav-link {
    color: #FFFFFF !important;
}

.fa-question {
	color: #183642;
}

.form-container {
	min-width: 100px;
	max-width: 600px;
	height: 350px;
	padding: 10px 5px;
	box-shadow: 10px 10px 5px #888888;

}

.btn-info {
	background-color: #46494C;
	border-color: #46494C
}

.btn-info:hover, .btn-info:active, .btn-info:visited {
	background-color: #46494C;
	border-color: #46494C
}


.card-img-users-share {
	max-height: 125px;
	max-width: 225px;
}

footer {
	height: 50px;
}

.table th, .table td {
	vertical-align: middle;
}

div.btn-group form {
display: inline;
}

#popup-about-page {
	
	display: none;
	margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  max-height: 50%;
  max-width: 50%;
  z-index: 100000;
  background-image: url('penta_out.png');
  color: #5BCAFF;
  padding: 20px;

  	.color-of-close {
  		color: #373a3c;
  		font-size: 1em;
  	}

}

.box-shadow--3dp {
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .14), 0 3px 3px -2px rgba(0, 0, 0, .2), 0 1px 8px 0 rgba(0, 0, 0, .12)
}

.back-button {
	font-size: 1.5em;
	color: #373a3c;
}