/*Add other scss files with @import*/

@import "bootstrap";
@import "users";
@import "static";

@-moz-document url-prefix() {
	fieldset {
		display: table-cell;

	}
}

body {
	font-family: 'Inconsolata';
}
	.user_profile_element {
		max-width: 200px;
		max-height: 200px;
	}

	.nav-bg {
		background-image: url('woven.png');
	}

.site-name {
	font-family: 'Inconsolata';
}

body.home_page {
	background: url('/home_photo_field.jpeg');

	background-position: center center;

	background-repeat: no-repeat;

	background-attachment: fixed;

	background-size: cover;

	background-color: #8FC0A9;

}