/*Add other scss files with @import*/

@import "bootstrap";
@import "users";
@import "static";
@import 'pages';
@import "profile-link";

@-moz-document url-prefix() {
	fieldset {
		display: table-cell;

	}
}

body {
	font-family: 'Inconsolata';
	padding-top: 70px;
}
	.user_profile_element {
		max-width: 200px;
		max-height: 200px;
	}

	.nav-bg {
		background-image: url('woven.png');
	}

.site-name {
	font-family: 'Lobster';
	font-size: 1.5em;
}

// General Links

ul.nav li a, ul.nav li a:visited {
    color: #183642 !important;
}

ul.nav li a:hover, ul.nav li a:active {
    color: #4A7C59 !important;
}

ul.nav li.active a {
    color: #FAF3DD !important;
}

// Top Links

ul.nav li a.top-bar-nav-link, ul.nav li a.top-bar-nav-link:visited {
    color: #FFFFFF !important;
}

ul.nav li a.top-bar-nav-link:hover, ul.nav li a.top-bar-nav-link:active {
    color: #FFFFFF !important;
}

ul.nav li.active a.top-bar-nav-link {
    color: #FFFFFF !important;
}

.fa-question {
	color: #183642;
}

.form-container {
	min-width: 100px;
	max-width: 600px;
	height: 350px;
	padding: 10px 5px;
	box-shadow: 10px 10px 5px #888888;

}

.btn-info {
	background-color: #8FC0A9;
	border-color: #8FC0A9
}

.btn-info:hover, .btn-info:active, .btn-info:visited {
	background-color: #8FC0A9;
	border-color: #8FC0A9
}

// .card-custom-width {
// 	min-width: 230px;
// 	max-width: 400px;
// }

.card-img-users-share {
	max-height: 125px;
	max-width: 225px;
}


