// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
	margin: 0;
}

html, body {
	height: 100%;
}

body.home_page {
	background: url('/lots_of_books.jpeg');

	background-position: center center;

	background-repeat: no-repeat;

	background-attachment: fixed;

	background-size: cover;

	background-color: #8FC0A9;

	.blur-bg {
		background-color: white;
		opacity: .9;
	-webkit-clip-path: polygon(0 0, 100% 1%, 93% 100%, 7% 100%);
	clip-path: polygon(0 0, 100% 1%, 93% 100%, 7% 100%);
		// Not super functional.
	}
}

// .wrapper {
// 	min-height: 100%;
// 	// Below code set's an equal footer height
// 	margin-bottom: -150px;
// }

// .wrapper:after {
// 	content: "";
// 	display: block;
// }


// footer, .wrapper:after {
// 	height: 150px;
// 	width: 100%;
// 	text-align: center;

// 	.box-around-profile {
// 		background-color: white;
// 		width: 125px;
// 		// height: 25px;

// 		.footer-link {
// 			color: #222222
// 		}
// 	}
// }


.jumbotron {
	background-color: white;
	opacity: 1;
}

.logo-text {
	font-family: 'Lobster';
	font-size: 5em;
}

a.main-logo-link{
	color: #373a3c;
}

.menuButton {
	font-size: 1.5em;
	font-color: #4A7C59;
}

#hidden-block {
	display: none;
}

.learn-more {
	max-width: 500px;
}

